/*-----------FONT------------*/

@font-face {
    font-family: logo_font;
    src: url("Sacramento-Regular.ttf");
}
@font-face {
    font-family: name_font;
    src: url("Hipster Script Pro.otf");
}
@font-face {
    font-family: nav_font;
    src: url("Berlin Regular.TTF");
}
@font-face {
  font-family: para_font;
  src: url("Brandon_light.otf");
}

/*-----------BASIC------------*/

 #cc{
   /*border: 2px solid black;*/
    text-align: center;
 }
 html{
     width: 100%;
     scroll-behavior: smooth;
     overflow-Y: scroll;
 }
 .addr{

 }
 .mail{
     text-decoration: none;
     color: black;
     transition: 0.3s ease-in-out;
 }
 .mail:hover{
     color: white;
 }
 h1{
     font-family: para_font;
     font-size: 50px;
     font-weight: 400;
     text-align: center;
 }
 
 p{
    font-family: para_font;
    font-size: 20px;
    padding-left: 2%;
    text-align: center;
}
.abc{
    max-width: 80%;
    margin: 20% auto 1% auto;
}
 #navigation{ 

     margin:0px !important;
     padding:0px !important;
 }
 #unorderlist{
     font-family:nav_font ;
     font-size: 140%;
     font-weight: 500;
 }
 #name{
     text-align: center;
     margin-top: 20px;
 }
 #logo{
     width: 250px;
 }
 #disp{
    /* background-image: url("background.jpg"); */
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     /* background-color: #ccf1ed; */
    background-color: #ffb600;
 
    
    background-position: center;
     background-size: cover; 
    width: 100%;
     height: 100%;
     color: black;
     
     
 }

 #page_founder{
     max-width: 1000px;
     margin: 0px auto;
    /* height: 100%;   */
    padding-bottom: 3%;

 }
.founder_head{
    font-family:nav_font;
    font-size: 5rem;
    text-align:center;
    text-shadow: 0px 0px 5px black;
    margin-top: 2%;
    
}

 #first_img{
     width: 60%;
     height: auto;
     
 }
 #first_img_div{
     width: 100%;
    animation: fade_all;
     animation-duration: 2s;
     animation-iteration-count: 1;   
     margin: 9% auto 10% auto;
 }
 #name_initial{
     font-family: nav_font;
     font-size: 500%;
     font-weight: 800;
     text-align: left;
     margin:0% auto 30px 30% ;
     line-height: 60%;
     text-shadow: 3px 3px 2px rgb(133, 127, 127) ;
 }
 #text_b h1{
    text-align: center;
    font-family: para_font;
    text-shadow: 0px 0px 2px black;
    font-weight: bolder;
 }

 #text_a h1{
    text-align: center;
    font-family: para_font;
    text-shadow: 0px 0px 2px black;
    font-weight: bolder;
 }
 #text_c h1{
    text-align: center;
    font-family: para_font;
    text-shadow: 0px 0px 2px black;
    font-weight: bolder;
 }

 #j_text{
     max-width: 1200px;
     text-align: center;
     margin: 0% auto;
 }

 #founder_img{
     margin:10% 0%;
     width: 60%; 
     border-radius: 50%;
     box-shadow: 0px 0px 15px 1px black;
 }

#images{
    width: 70%;
    transition: ease-in-out;
    padding: 0% 0%;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 15px black;
    margin: 4% 0rem;
}

#images:hover{
    
    padding: 0% 0%;
    box-shadow: 0px 0px 30px 5px black;
}

/***********footer--start -- **********/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffffff;
}

.copyright-text a{
  color:white;
}

.copyright-text
{
  color:white;
  margin:0
 
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  
#logo{
    width: 150px;
}

h1{
    font-family: para_font;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

p{
   font-family: para_font;
   font-size: 15px;
   text-align: center;
}
.abc{
   max-width: 100%;
   margin: 10% auto 0% auto;
}

#disp{
    /* background-image: url("background.jpg"); */
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     /* background-color: #ccf1ed; */
    background-color: #ffb600;
    background-position: center;
     background-size: cover; 
    width: 100%;
     height: max-content;
     color: black;
     
     
 }

}


#l_inside{
  border-right: 5px solid black;
 }
 #r_inside{
  border-left: 5px solid black;
 }

/***********---footer---end--**********/
